<!--<table class ="table">

  <thead class="table-dark">
    <tr>
      <th></th>
      <th>Name</th>
      <th>Price</th>
      <th>Units in Stock</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let tempProduct of products">

      <td>
        <img src="{{tempProduct.imageUrl }}" height="50"/>
      </td>

      <td>{{ tempProduct.name }}</td>
      <td>{{ tempProduct.unitPrice | currency:'USD' }}</td>
      <td>{{ tempProduct.unitsInStock }}</td>
    </tr>
  
</table>
-->

<div class="main-content">
  <div class="section-content section-content-p30">
    <div class="container-fluid">
      <div class="row">

        <!-- loop over the collection of products -->
        <div *ngFor="let tempProduct of products" class="col-md-3">

          <div class="product-box">

            <a routerLink="/products/{{tempProduct.id}}">
              <img src="{{tempProduct.imageUrl }}" alt="{{tempProduct.name}}" class="img-fluid">
            </a>

            <a routerLink="/products/{{tempProduct.id}}">
              <h1>{{ tempProduct.name }}</h1>
            </a>

              <div class="price"> {{ tempProduct.unitPrice | currency: 'USD'}} </div>
              <a href="#" class="primary-btn">Add to Cart</a>
            </div>
          </div>

          <!-- If the product searched for is not found, display a message -->


          <div *ngIf="products?.length == 0" class="alert alert-warning col-md-12" role="alert">
            <strong>Sorry!</strong> No products found matching your search criteria.
          </div>

        </div>
      </div>
    </div>
  </div>